{% extends "grading/base.html" %}
{% block content %}
<p><a class="nav-item nav-link" href="{% url 'teacher-detail' teacher.pk %}">Welcome ! {{ teacher.first_name }}  {{ teacher.last_name }}</a></p>
<main role="main" class="container">
    <div class="row">
        <div class="col-md-5">
          <div class="content-section">
            <h3>Subject List</h3>

              <ul class="list-group">
                <a class="nav-item nav-link" href="{% url 'subject-detail' teacher.subject_id.id %}"><li class="list-group-item list-group-item-light">{{ subject.subject_name }}</li></a>
              </ul>

          </div>
        </div>

        <div class="col-md-5">
          <div class="content-section">
            <h3>Student List</h3>
              {% for teacher in teacher_students %}
              <ul class="list-group">
                <a class="nav-item nav-link" href="{% url 'student-detail' teacher.student_id %}"><li class="list-group-item list-group-item-light">{{ teacher.student_id }}</li></a>
              </ul>
              {% endfor %}
          </div>
        </div>

        </div>
    </main>
{% endblock %}