{% extends "grading/base.html" %}
{% block content %}
<main role="main" class="container">
      <div class="row">
        <div class="col-md-8">
			{% if messages %}
				{% for message in messages %}
					<div class="alert alert-{{ message.tags }}">
						{{ message }}
					</div>
				{% endfor %}
			{% endif %}

        </div>
        <div class="col-md-5">
          <div class="content-section">
            <h3>Subject List</h3>
              {% for subject in subjects.values %}
              <ul class="list-group">
                <a class="nav-item nav-link" href="{% url 'subject-detail' subject.id %}"><li class="list-group-item list-group-item-light">{{ subject.subject_name }}</li></a>
              </ul>
              {% endfor %}
          </div>
        </div>
        <div>
          <div class="content-section">
            <h3>Student Details</h3>
              <ul class="list-group">
                <a class="nav-item nav-link" href="{% url 'student-detail' student.student_id %}"><li class="list-group-item list-group-item-light">{{ student.first_name }}</li></a>
              </ul>

          </div>
        </div>
      </div>
    </main>
{% endblock %}