{% extends "grading/base.html" %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Delinking Student
                <h2>Are you sure you want to delink the Student "{{ object.student_id }}"</h2>
                </legend>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-danger" type="submit">Yes, Delete</button>
                <a class="brn btn-outline-secondary" href="{% url 'teacher-student-detail' object.id %}">Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}