{% extends "grading/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">

        <div class="col-md-5">
            <div class="content-section">
            <form id="scoresform" action="{% url 'career-choices' %}" method="POST" data-subjects-url="{% url 'ajax_load_subjects' %}" novalidate>
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">
                        {% crispy subjectscores_form subjectscores_form.helper %}
                    </legend>
                </fieldset>
            </form>
            </div>
        </div>
        <div class="col-md-4">
            {% if courses %}
                {% for course in courses %}
                    Course ID: {{ course.id}} <br>
                    <a  href="{{ course.course_link }}" target="_blank">{{ course.course_name }}</a> <br>
                {% endfor %}
            {% endif %}
        </div>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_student").change(function () {
      var url = $("#scoresform").attr("data-subjects-url");  // get the url of the `load_cities` view

      var student_id = $(this).val();  // get the selected student ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        cache:'false',
        type: "GET",
        data: {
          'student': student_id       // add the student id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_subjects` view function
          $("#id_subject").html(data);  // replace the contents of the subject input with the data that came from the server
        },
        error: function(data){
            alert('error; '+ eval(error));
        }
      });
    });
  </script>
{% endblock content %}