{% extends "grading/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="row">

        <div class="col-md-5">
            <div class="content-section">
            <form action="{% url 'career-choices' %}" method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">
                        {% crispy subjectscores_form subjectscores_form.helper %}
                    </legend>
                </fieldset>
            </form>
            </div>
        </div>
        <div class="col-md-4">
            {% if courses %}
                {% for course in courses %}
                    Course ID: {{ course.id}} <br>
                    <a  href="{{ course.course_link }}" target="_blank">{{ course.course_name }}</a>
                {% endfor %}
            {% endif %}
        </div>
    </div>

{% endblock content %}