{% extends "grading/base.html" %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="content-section">
        <form action="{% url 'career-select' %}" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    {% crispy courses_form courses_form.helper %}
                </legend>
            </fieldset>
            <!--<div class="form-group">-->
                <!--<button class="btn btn-outline-info" type="submit">Select</button>-->
            <!--</div>-->
        </form>
        <h4> Enter Student Details</h4>
        <form action="{% url 'career-scores-save' %}" method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">
                    {% crispy subjectscores_form subjectscores_form.helper %}
                </legend>
            </fieldset>
            <!--<div class="form-group">-->
                <!--<button class="btn btn-outline-info" type="submit">Save</button>-->
            <!--</div>-->
        </form>
    </div>
{% endblock content %}