{% extends "grading/base.html" %}
{% block content %}
<main role="main" class="container-fluid">
        <div class="row">
            <div class="col">
              <div class="content-section">
                <h6>School Subject List </h6>
                  {% if user.is_authenticated and user.is_superuser %}
                      {% for subject in subjects %}
                        <ul class="list-group">
                            <a class="nav-item nav-link" href="{% url 'subject-detail' subject.id %}"><li class="list-group-item list-group-item-light">{{ subject.subject_name }}</li></a>
                        </ul>
                      {% endfor %}
                  {% endif %}
               </div>
              {% if subjects.has_other_pages %}
                 {% if subjects.has_previous %}
                    <a class="btn btn-primary mb-4" href="?page=1">First</a>
                    <a class="btn btn-primary mb-4" href="?page={{ subjects.previous_page_number}}">Previous</a>
                 {% endif %}

                 {% for num in subjects.paginator.page_range %}
                     {% if subjects.number == num %}
                        <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
                     {% elif num > subjects.number|add:'-2' and num < subjects.number|add:'2'%}
                        <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
                     {% endif %}
                 {% endfor %}

                 {% if subjects.has_next %}
                        <a class="btn btn-primary mb-4" href="?page={{ subjects.next_page_number }}">Next</a>
                        <a class="btn btn-primary mb-4" href="?page={{ subjects.paginator.num_pages}}">Last</a>
                 {% endif %}
            {% endif %}
            </div>
        <div class="col">
          <div class="content-section">
            <h6>Student List</h6>
              {% if user.is_authenticated %}
                {% if user.is_teacher or user.is_superuser%}
                    {% for student in students %}
                        <ul class="list-group">
                            <a class="nav-item nav-link" href="{% url 'student-detail' student.pk %}"><li class="list-group-item list-group-item-light">{{ student.first_name }}</li></a>
                        </ul>
                    {% endfor %}
              {% endif %}
              {% endif %}
          </div>
            {% if students.has_other_pages %}
                 {% if students.has_previous %}
                    <a class="btn btn-primary mb-4" href="?page=1">First</a>
                    <a class="btn btn-primary mb-4" href="?page={{ students.previous_page_number}}">Previous</a>
                 {% endif %}

                 {% for num in students.paginator.page_range %}
                     {% if students.number == num %}
                        <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
                     {% elif num > students.number|add:'-2' and num < students.number|add:'2'%}
                        <a class="btn btn-primary mb-4" href="?page={{ num }}">{{ num }}</a>
                     {% endif %}
                 {% endfor %}

                 {% if students.has_next %}
                        <a class="btn btn-primary mb-4" href="?page={{ students.next_page_number }}">Next</a>
                        <a class="btn btn-primary mb-4" href="?page={{ students.paginator.num_pages}}">Last</a>
                 {% endif %}
            {% endif %}
        </div>

        <div class="col">
            <div class="content-section">
                <h6>Teacher List</h6>
                  {% if user.is_authenticated %}
                    {% if user.is_teacher or user.is_superuser %}
                        {% for teacher in teachers %}
                            <ul class="list-group">
                                <a class="nav-item nav-link" href="{% url 'teacher-detail' teacher.pk  %}"><li class="list-group-item list-group-item-light">{{ teacher.first_name }} {{ teacher.last_name }}</li></a>
                            </ul>
                        {% endfor %}
                    {% endif %}
                  {% endif %}
            </div>
        </div>
      </div>
    </main>
{% endblock %}