{% extends "grading/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login
                    {{ form|crispy }}
                </legend>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Login</button>
                <small class="text-muted ml-2">
                    <a class="btn btn-primary" href="{% url 'password_reset' %}" role="button">Forgot Password</a>
                </small>
            </div>
<!--
            <div >
                <a class="btn btn-primary git" href="{% url 'social:begin' 'github' %}">Login with GitHub</a>
                 <a class="btn btn-primary twitter" href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a>
                 <a class="btn btn-primary fa fa-facebook fb" href="{% url 'social:begin' 'facebook' %}">Login with Facebook</a>
            </div>
-->
        </form>
        <div class="border-top pt-3">
            <small>Need an Account? <a class="ml-2" href="{% url 'signup' %}">Sign Up Now</a></small>
        </div>
    </div>
{% endblock content %}