{% extends "grading/base.html" %}

{% block content %}
{% if user.is_authenticated  %}
    <div class="content-section">
        <h4> Student Details</h4>
        Student First Name: {{ student.first_name }} <br>
        Student Last Name: {{ student.last_name }} <br>
        School  :{{ student.school_id }} <br>
        Grade : {{ student.grade }} <br>
    </div>
    {% if user.is_authenticated and not user.is_teacher %}
        <div class="content-section">
            <h3>Edit Information</h3>
            <a class="btn btn-success mb-4" href="{% url 'student-update' student.pk %}">Update {{ student.first_name }} Details</a>
            {% if user.is_superuser %}
                <a class="btn btn-danger mb-4" href="{% url 'student-delete' student.pk %}">Delete {{ student.first_name }} Student</a>
            {% endif %}
        </div>
    {% endif %}

{% endif %}

{% endblock %}