{% extends "grading/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form id="subjectScoresForm" method="POST" data-subjects-url="{% url 'ajax_load_subjects' %}" novalidate>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Student Subjects
                    {{ form|crispy }}
                </legend>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-success" type="submit">Save</button>
            </div>
        </form>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script>
    $("#id_student").change(function () {
      var url = $("#subjectScoresForm").attr("data-subjects-url");  // get the url of the `load_cities` view
      var student_id = $(this).val();  // get the selected student ID from the HTML input

      $.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'student': student_id       // add the student id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_subjects` view function
          $("#id_subject").html(data);  // replace the contents of the subject input with the data that came from the server
        }
      });

    });
  </script>
{% endblock content %}