{% extends "grading/base.html" %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Teacher's Students
                    {{ form|crispy }}
                </legend>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-primary" type="submit">Link Student</button>
            </div>
        </form>
    </div>
{% endblock content %}