{% extends "grading/base.html" %}

{% block content %}
{% if user.is_authenticated and user.is_teacher or user.is_superuser %}
    <div class="content-section">
        <h4> Teacher Details</h4>
        Teacher First Name: {{ teacher.first_name }} <br>
        Teacher Last Name: {{ teacher.last_name }} <br>
        School  :{{ teacher.school_id }} <br>
        Grade : {{ teacher.grade }} <br>
    </div>

    <div class="content-section">
        <h3>Edit Information</h3>
        <a class="btn btn-outline-info mb-4" href="{% url 'teacher-update' teacher.pk %}">Update {{ teacher.first_name }} Details</a>
    </div>

{% endif %}

{% endblock %}