{% extends "grading/base.html" %}

{% block content %}
{% if user.is_authenticated %}

    <div class="content-section">
        <h3>Teacher Details</h3>
        First Name: {{ teacher_students.teacher.first_name }} <br>
        Last Name: {{ teacher_students.teacher.last_name }} <br>
        School  :{{ teacher_students.school.school_name }} <br>
        Grade : {{ teacher_students.teacher.grade }} <br>
    </div>
{% endif %}
{% if user.is_superuser %}
    <div class="content-section">
        <h3>Manage Students</h3>
        <a class="btn btn-outline-info mb-4" href="{% url 'teacher-student-delete' object.id %}">Delink {{ teacher_students.student_id }} Student ID</a>
    </div>
{% endif %}
{% endblock %}